# Docker Compose configuration for DECP project
# This configuration sets up the necessary services for the DECP project, including:
# - PostgreSQL for database management
# - Redis for caching
# - Kafka for message brokering
# - MinIO for object storage
# - Kong for API gateway
# - Prometheus for monitoring
# - Grafana for visualization

# Note: Ensure that the `prometheus.yml` file is correctly configured to scrape metrics from the services.
# To start the services, run `docker-compose up -d` in the terminal.

# Network configuration for the services
networks:
  decp-network:
    driver: bridge

# Volumes for data persistence
volumes:
  postgres_data:
  mongo-data:
  redis-data:
  kafka_data:
  minio_data:
  kong_data:
  prometheus_data:
  grafana_data:
  elastic_data:

# Service definitions
services:
  # ----------------- Core Services -----------------

  postgres:
    image: postgres:18.2
    container_name: decp-postgres
    environment:
      POSTGRES_USER: decp
      POSTGRES_PASSWORD: decp123
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - decp-network
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "decp"]
      interval: 10s
      timeout: 5s
      retries: 5

  mongo:
    image: mongo:8.2.3
    container_name: dhcp-mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
    networks:
      - decp-network

  redis:
    image: redis:8.6
    container_name: decp-redis
    restart: always
    volumes:
      - redis-data:/data
    networks:
      - decp-network
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  # =========================
  # KAFKA
  # =========================
  kafka:
    image: apache/kafka:4.2.0
    container_name: decp-kafka
    environment:
      - KAFKA_NODE_ID=1
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR= 1
      - KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR= 1
      - KAFKA_TRANSACTION_STATE_LOG_MIN_ISR= 1
      - KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS= 0
      - KAFKA_NUM_PARTITIONS= 3
    volumes:
      - kafka_data:/tmp/kafka-logs
    networks:
      - decp-network
    ports:
      - "9092:9092"
    healthcheck:
      test:
        ["CMD", "kafka-topics.sh", "--bootstrap-server", "kafka:9092", "--list"]
      interval: 10s
      timeout: 5s
      retries: 5

  # =========================
  # OBJECT STORAGE
  # =========================
  minio:
    image: minio/minio
    container_name: decp-minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    volumes:
      - minio_data:/data
    networks:
      - decp-network
    ports:
      - "9000:9000"
      - "9001:9001"

  # =========================
  # KONG API GATEWAY
  # =========================
  kong-database:
    image: postgres:18.2
    container_name: decp-kong-db
    environment:
      POSTGRES_DB: kong
      POSTGRES_USER: kong
      POSTGRES_PASSWORD: kong
    volumes:
      - kong_data:/var/lib/postgresql
    networks:
      - decp-network

  kong-migrations:
    image: kong:3.9.1
    container_name: decp-kong-db-migrations
    command: kong migrations bootstrap
    depends_on:
      - kong-database
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: kong-database
      KONG_PG_PASSWORD: kong
    networks:
      - decp-network

  kong:
    image: kong:3.9.1
    container_name: decp-kong
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: kong-database
      KONG_PG_PASSWORD: kong
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
    ports:
      - "8000:8000"
      - "8001:8001"
    depends_on:
      - kong-migrations
    networks:
      - decp-network

  # =========================
  # OBSERVABILITY
  # =========================
  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: decp-otel-collector
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./observability/otel/otel-collector-config.yaml:/etc/otel-collector-config.yaml
    ports:
      - "4317:4317" # gRPC
      - "4318:4318" # HTTP
    networks:
      - decp-network

  prometheus:
    image: prom/prometheus
    container_name: decp-prometheus
    volumes:
      - ./observability/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    networks:
      - decp-network

  grafana:
    image: grafana/grafana
    container_name: decp-grafana
    volumes:
      - grafana_data:/var/lib/grafana
    ports:
      - "3001:3000"
    networks:
      - decp-network

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0
    container_name: decp-elasticsearch
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    volumes:
      - elastic_data:/usr/share/elasticsearch/data
    networks:
      - decp-network

  kibana:
    image: docker.elastic.co/kibana/kibana:8.11.0
    container_name: decp-kibana
    depends_on:
      - elasticsearch
    ports:
      - "5601:5601"
    networks:
      - decp-network

  # =========================
  # MICROSERVICES
  # =========================
  identity-service:
    build: ./services/identity-service
    env_file:
      - ./services/identity-service/.env
    depends_on:
      - postgres
      - kafka
    networks:
      - decp-network
    expose:
      - "3000"

  engagement-service:
    build: ./services/engagement-service
    env_file:
      - ./services/engagement-service/.env
    depends_on:
      - mongo
      - kafka
      - minio
    networks:
      - decp-network
    expose:
      - "3001"

  message-service:
    build: ./services/message-service
    env_file:
      - ./services/message-service/.env
    depends_on:
      - mongo
      - kafka
      - redis
    networks:
      - decp-network
    expose:
      - "3002"

  notification-service:
    build: ./services/notification-service
    env_file:
      - ./services/notification-service/.env
    depends_on:
      - kafka
    networks:
      - decp-network
    expose:
      - "3003"

  career-service:
    build: ./services/career-service
    env_file:
      - ./services/career-service/.env
    depends_on:
      - postgres
      - kafka
    networks:
      - decp-network
    expose:
      - "3004"

  event-service:
    build: ./services/event-service
    env_file:
      - ./services/event-service/.env
    depends_on:
      - postgres
      - kafka
    networks:
      - decp-network
    expose:
      - "3005"

  collaboration-service:
    build: ./services/collaboration-service
    env_file:
      - ./services/collaboration-service/.env
    depends_on:
      - kafka
      - redis
    networks:
      - decp-network
    expose:
      - "3006"

  analytics-service:
    build: ./services/analytics-service
    env_file:
      - ./services/analytics-service/.env
    depends_on:
      - kafka
      - postgres
    networks:
      - decp-network
    expose:
      - "3007"
